:root{
    --couleur-primaire:#0989FF ;
    --couleur-primaire1:#fff ;
    --couleur-primaire2:#000;
    --couleur-bg:#f4f7fc;
}
body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

/* Section headtop */

header{
    position: sticky;
    top: 0;
    background-color: var(--couleur-primaire1);
}

.headtop{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.headtop .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtop .logo img{
    width: 50px;
}

.headtop .logo p{
    padding-top: 5px;
}

.headtop .logo a{
    color: var(--couleur-primaire2);
    font-weight: bold;
    font-family: verdana;
    font-size: 20px;
    text-decoration: none;
}

.headtop .logo a:hover{
    color: var(--couleur-primaire);
}

/* Dropdown menu */

.dropdown{
    position: relative;
    top: 15px;
    display: none;
    height: 20px;
}

.headtop .dropdownMenu{
    position: relative;
    display: inline-block;
}

.headtop .dropMenu{
    background-color: var(--couleur-primaire2);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.headtop .dropMen{
    display: none;
}

.headtop .dropMen a{
    text-decoration: none;
    color: var(--couleur-primaire1);
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    background-color:#0988ff59;
    margin-top: 1%;
    display: block;
}

.dropdownMenu:hover .dropMen{
    display: block;
}
.headtop .dropMen a:hover{
    color: var(--couleur-primaire2);
}

.headtop .icones{
    display: flex;
    margin-left: 3px;
}

.headtop .icones .iconBar{
    color: var(--couleur-primaire2);
    font-size: 16px;
    font-weight:700;
    padding-top: 5px;
}

.headtop .icones .bar{
    border-right: 2px solid black;
}

.headtop .icones a:hover{
    color: var(--couleur-primaire);
}

.headtop .icones a{
    color: var(--couleur-primaire2);
    text-decoration: none;
}
.headtop .icon{
    display: flex;
}
.search{
    margin-right: 40px;
}
.search .search-icon{
    position: relative;
    color: var(--couleur-primaire2);
    left: -40px;
    top: -1px;
}

.search .isearch{
    width: 400px;
    padding: 2%;
}

.headtop .icones p{
    margin-right: 15px;
}
.headtop .icones .bar{
    padding-right: 10px;
}


/* Section headtop nav menu */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--couleur-primaire);
}

.nav .menu ul{
    display: flex;
    padding-left: 0;
}

.nav .menu ul li{
    list-style-type: none;
    margin-left: 20px;
}

.nav .menu ul li select{
    border: none;
    background-color: var(--couleur-primaire);
    color: var(--couleur-primaire1);
}

.menu ul li span{
    font-size: 16px;
    text-transform: uppercase;
}

.nav .menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav .menu ul li .active{
    background-color: var(--couleur-primaire2);
    padding: 10px 20px;
}

/* .nav .menu ul li a:hover{
    color: rgb(10, 10, 106);
} */
.nav .menu ul li span{
    color: white;
}
.ePerso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-primaire2);
    padding-left: 2%;
    padding-right: 2%;
}
.ePerso li{
    list-style-type: none;
}
.ePerso li a{
    text-decoration: none;
    color: white;
}

/* Section Main */

.Metier{
    padding-top: 4%;
    padding-bottom: 4%;
}

.Metier .container{
    width: 70%;
    margin: 0 auto;
}

.Metier .container h1{
    text-align: center;
    margin-bottom: 4%;
}

.Metier .container p{
    text-align: justify;
    font-weight: lighter;
    font-family: verdana;
}

/* section Metiers */
.Metiers{
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: azure;
}

.Metiers .container{
    width: 70%;
    margin: 0 auto;
}

.Metiers .container .cartes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.Metiers .container .cartes .carte{
    background-color: var(--couleur-primaire);
    display: flex;
    flex-direction: column;
    width: 32%;
}

.Metiers .container .cartes .carte img{
    width: 100%;
    margin-bottom: 30px;
}

.Metiers .container .cartes .carte h2{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: var(--couleur-primaire1);
}

.Metiers .container .cartes .carte .descript{
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: justify;
}

.Metiers .container .cartes .carte .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.Metiers .container .cartes .carte button{
    padding: 10px 20px;
    background-color: var(--couleur-primaire2);
    color: var(--couleur-primaire1);
    border: none;
    border-radius: 15px 20px;
    font-weight: bold;
    cursor: pointer;
}




/* Footer */
.footer{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: var(--couleur-primaire);
}

.footerContainer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .foot{
    width: 18%;
}

.footer .foot .headFoot{
    font-size: 20px;
    font-weight: bold;
    color: var(--couleur-primaire1);
    margin-bottom: 30px;
}

.footer .foot .headFoot .icons{
    display: flex;
}

.footer .foot .icons i{
    font-size: 20px;
    color: var(--couleur-primaire1);
    margin-right: 10px;
}

.footer .foot .headFootP{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--couleur-primaire1);
}

.footer .foot .newslt{
    display: flex;
}

.footer .foot .newslt input{
    padding: 12px;
}

.footer .foot .newslt button{
    background: var(--couleur-primaire2);
    color: var(--couleur-primaire1);
    font-weight: bold;
    border: none;
}



/* Media queries */

@media screen and (max-width: 900px) {
    /* header */
    
    .headtop .icon .search{
        display: none;
    }

    .headtop .icon .icones p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headtop .icon .icones p a{
        padding-left: 5px;
    }

    .headtop .dropdown{
        display: block;
    }

    .topheader{
        width: 100%;
    }

    .topheader .logo{
        margin-left: 10px;
    }

    .nav{
        display: none;
    }

    .nav .ePerso{
        text-align: right;
    }

    /* Main */

    .Metiers .container .cartes{
        border: 2px solid red;
    }

    /* Footer */
    .footer .footerContainer{
        flex-direction: column;
    }

    .footer .footerContainer .foot{
        width: 100%;
        margin-bottom: 4%;
    }
}

