:root{
    --couleur-primaire:#0989FF ;
    --couleur-primaire1:#fff ;
    --couleur-primaire2:#000;
    --couleur-bg:#f4f7fc;
}
body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

/* Sction headtop */

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.headtop{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.headtop .logo p{
    padding-top: 5px;
}


.headtop .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtop .logo img{
    width: 50px;
}

.headtop .logo a{
    color: var(--couleur-primaire2);
    font-weight: bold;
    font-family: verdana;
    font-size: 20px;
    text-decoration: none;
}

.headtop .logo a:hover{
    color: var(--couleur-primaire);
}

/* Dropdown menu */

.dropdown{
    position: relative;
    top: 15px;
    display: none;
    height: 20px;
}

.headtop .dropdownMenu{
    position: relative;
    display: inline-block;
}

.headtop .dropMenu{
    background-color: var(--couleur-primaire2);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.headtop .dropMen{
    display: none;
}

.headtop .dropMen a{
    text-decoration: none;
    color: var(--couleur-primaire1);
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    background-color:#0988ff59;
    margin-top: 1%;
    display: block;
}

.dropdownMenu:hover .dropMen{
    display: block;
}
.headtop .dropMen a:hover{
    color: var(--couleur-primaire2);
}

.headtop .icones{
    display: flex;
    margin-left: 3px;
}

.headtop .icones .iconBar{
    color: var(--couleur-primaire2);
    font-size: 16px;
    font-weight:700;
    padding-top: 5px;
}

.headtop .icones .bar{
    border-right: 2px solid black;
}

.headtop .icones a:hover{
    color: var(--couleur-primaire);
}

.headtop .icones a{
    color: var(--couleur-primaire2);
    text-decoration: none;
}
.headtop .icon{
    display: flex;
}
.search{
    margin-right: 40px;
}
.search .search-icon{
    position: relative;
    color: var(--couleur-primaire2);
    left: -40px;
    top: -1px;
}

.search .isearch{
    width: 400px;
    padding: 2%;
}

.headtop .icones p{
    margin-right: 15px;
}
.headtop .icones .bar{
    padding-right: 10px;
}


/* Section headtop nav menu */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--couleur-primaire);
}

.nav .menu ul{
    display: flex;
    padding-left: 0;
}

.nav .menu ul li{
    list-style-type: none;
    margin-left: 20px;
}

.nav .menu ul li select{
    border: none;
    background-color: var(--couleur-primaire);
    color: var(--couleur-primaire1);
}

.menu ul li span{
    font-size: 16px;
    text-transform: uppercase;
}

.nav .menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav .menu ul li .active{
    background-color: var(--couleur-primaire2);
    padding: 10px 20px;
}

/* .nav .menu ul li a:hover{
    color: rgb(10, 10, 106);
} */
.nav .menu ul li span{
    color: white;
}
.ePerso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-primaire2);
    padding-left: 2%;
    padding-right: 2%;
}
.ePerso li{
    list-style-type: none;
}
.ePerso li a{
    text-decoration: none;
    color: white;
}

/* Section Main */

/* Section Main */
/* galerie */
/* Section 1 */
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;

}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;

}

.content-mere{
    background: #4a9deb5c;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 6px lightgray;
    box-sizing: border-box;
}
h3{
    height: 100%;
    background:var(--couleur-primaire);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    cursor: pointer;

}
label:hover{
    color: var(--couleur-primaire);
    
}

/* Fin section1 */

/* Section Categories */
.categories{
    padding-top: 5%;
    padding-bottom: 5%;
}
.categories .container{
    width: 70%;
    margin: 0 auto;
}
.categories .titreCat{
    display: flex;
}
.categories .titreCat p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    text-decoration: underline;
}
.categories .cartes{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.categories .carte{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0;
    background-color: var(--couleur-primaire);
    border-radius: 10%;
    height: 220px;
    box-shadow: 2px 2px 4px lightgray;
}
.categories .carte img{
    width: 100%;
    height: 220px;
    padding-top: -20px;
    border-radius: 10% 10% 0% 0%;
}
.categories .carte img:hover{
   color: #0000004a;
   cursor: pointer;
   
}
.categories .carte p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    position: relative;
    top: -25px;
}
.boutique button{
    cursor: pointer;
    width: 200px;
   height: 50px;
   color: var(--couleur-primaire1);
   background: #0989FF;
   border: none;
   border-radius:5px 5px 5px 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 700;
   font-size: 15px;
}
.boutique button:hover{
   background: black;
   color: #ffffff;
   cursor: pointer;
}

/* Footer */
.footer{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: var(--couleur-primaire);
}

.footerContainer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .foot{
    width: 18%;
}

.footer .foot .headFoot{
    font-size: 20px;
    font-weight: bold;
    color: var(--couleur-primaire1);
    margin-bottom: 30px;
}

.footer .foot .headFoot .icons{
    display: flex;
}

.footer .foot .icons i{
    font-size: 20px;
    color: var(--couleur-primaire1);
    margin-right: 10px;
}

.footer .foot .headFootP{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--couleur-primaire1);
}

.footer .foot .newslt{
    display: flex;
}

.footer .foot .newslt input{
    padding: 12px;
}

.footer .foot .newslt button{
    background: var(--couleur-primaire2);
    color: var(--couleur-primaire1);
    font-weight: bold;
    border: none;
}



/* Media queries */

@media screen and (max-width: 900px) {
    /* header */
    .topheader{
        display: none;
    }

    /* Main */

    /* Section Bg */
    .bg img{
        height: 400px;
    }

    /* Section Categories */
    /* Section1 */
    .section1 .section-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section1 .section-container.content-mere{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    /* fin section1 */
    .categories .cartes{
        width: 100% ;
        display: flex;
        flex-direction: column;
    }

    .categories .cartes .carte{
       width: 100%;
       border-radius: 10px;
       margin-bottom: 4%;
    }

    
    /* fin galerie */

    /* Footer */
    .footer .footerContainer{
        flex-direction: column;
    }

    .footer .footerContainer .foot{
        width: 100%;
        margin-bottom: 4%;
    }
}

